.contingut  {
    width: 100vw;
}

.productes {
    width: 80%;
    margin: 30px auto;
}

.producte {
    display: inline-block;

    max-width: 26%;
    height: 270px;
    margin: 30px;

    padding: 0.5em;

    background-color: #eee;

    border-radius: 5%;

}

.imatge {
    width: 100%;
    height: 150px;

    background-image: url('../img/producte2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    /* PARA QUE LA IMAGEN NO SE PUEDA SELECCIONAR */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    
}

.imatge:hover {
    background-image: url('../img/producte.png');

}

.descripcio {
    width: 95%;
    margin: 10px 0 10px 10px;
}

.descripcio .info {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.descripcio .info p span {
    float: right;
}

.text {
    text-align: justify;
    font-size: 14px;
}
