footer > div{
    margin: 0;
    padding: 0;
    display: flex;
}

.faq {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.faq h2, .faq h3 {
    color: white;
    text-align: center;
}

.faq .col {
    display: flex;
    margin: 0.5em 6em;
}

.faq .col > div {
    margin: 1em;
}

.faq p {
    margin-top: 1em;
    text-align: justify;
}

.footer{
    background-color: #22B9A0;
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #22B9A0;
    border-bottom: 1px solid #22B9A0;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.footer a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}