/** FOOTER **/
footer .valoracions, footer .footer {
    background-color: #22B9A0;
}

footer .faq {
    background-color: #1aaa92;
}

footer > div{
    display: flex;
}

footer p {
    color: #ddd;
}

/**FOOTER 1 **/
.valoracions {
    flex-direction: column;
}

.valoracions .title {
    margin-top: 1em;
    width: 100vw;
    text-align: center;
    color: #fff;
}

.valoracions .flex-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2em 0;
}
  
.valoracions .flex-container > div {
   margin: auto 0;
   justify-content: space-between;

}

.valoracions .flex-container .icon {
    color: #fff;
}

.valoracions .flex-container .text {
    width: 80%;
}

.valoracions .flex-container i {
    font-size: 30px;
    cursor: pointer;
}

/** FOOTER 2 **/
.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.faq h2, .faq h3 {
    color: white;
    text-align: center;
}

.faq .col {
    display: flex;
    margin: 0.5em 6em;
}

.faq .col > div {
    margin: 1em;
}

.faq p {
    margin-top: 1em;
    text-align: justify;
}

/** FOOTER 3 **/
.footer{
    background-color: #22B9A0;
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #22B9A0;
    border-bottom: 1px solid #22B9A0;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}