#secondHeader{
    width: 100vw;
    height: 80px;
    background-color: rgb(219, 219, 219);
    display: flex;
    height: 70px;
    line-height: 70px;
    justify-content: right;
}

#secondHeader .links {
    margin-left: 2em;
}

#secondHeader #goHome{
    border: none;
    background-color: transparent;
}

#secondHeader a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

#secondHeader a:visited{
    color: black;
}

#secondHeader #iconos {
    margin-right: 1em;
}

#secondHeader #iconos i{
    padding: 10px;
    font-size: 45px;
    cursor: pointer;
}

#secondHeader #paypalButton{
    color: rgb(51, 90, 219);
}

#secondHeader #carMarket{
    color: rgb(80, 148, 60);
}
#secondHeader #supportButton{
    color: rgb(94, 194, 194);
}